* {
  margin: 0;
  padding: 0;
}

:root {
  --fonte-poppins: "Poppins", sans-serif;
  --fonte-alternativa: "Abhaya Libre", serif;
  --fonte-alternativa2: "Tiro Tamil", serif;
  --cor-branco: #ffffff;
  --cor-marrom: #251d18;
  --cor-verde: #51994b;
}

.frete-gratis {
  width: 100%;
  background-color: var(--cor-marrom);
  color: var(--cor-branco);
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  padding: 10px 0;
}

.frete-gratis-texto {
  display: flex;
  width: 300%;
  animation: marquee 50s linear infinite;
}

.frete-gratis-texto span {
  flex: 1;
  font-size: 14px;
  font-family: var(--fonte-alternativa);
  color: var(--cor-branco);
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
