* {
  margin: 0;
  padding: 0;
}

:root {
  --fonte-poppins: "Poppins", sans-serif;
  --fonte-alternativa: "Abhaya Libre", serif;
  --fonte-alternativa2: "Tiro Tamil", serif;
  --cor-branco: #ffffff;
  --cor-marrom: #251d18;
  --cor-verde: #51994b;
  --cor-hover: #6b4f4a;
  --cor-amarelo: #efbd06;
}

/* FRETE GRÁTIS */
.frete-gratis {
  width: 100%;
  background-color: var(--cor-marrom);
  color: var(--cor-branco);
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  padding: 10px 0;
}

.frete-gratis-texto {
  display: flex;
  width: 300%;
  animation: marquee 80s linear infinite;
}

.frete-gratis-texto span {
  flex: 1;
  font-size: 14px;
  font-family: var(--fonte-alternativa);
  color: var(--cor-branco);
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* NAV BAR */
/* Estilos gerais da barra de navegação */
.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 3rem;
  max-width: 100vw; /* Garante que a largura máxima não ultrapasse a largura da viewport */
  background-color: var(--cor-secundaria);
  color: var(--cor-principal);
  overflow: hidden;
  padding: 0 1rem; /* Adiciona um padding horizontal */
}

/* Menu Hamburguer */
.nav-bar-1 {
  cursor: pointer;
  display: flex; /* Garante que o menu hamburguer esteja alinhado com os outros itens */
  align-items: center; /* Alinha verticalmente com os ícones da direita */
  margin-left: 10px; /* Ajusta a margem esquerda para o menu hamburguer */
}

/* Logo ou Título da barra de navegação */
.nav-bar-boti {
  font-family: var(--fonte-alternativa);
  font-size: 36px;
}
.navbar-icon {
  width: 20px;
  height: 20px;
  display: none;
}

/* Navegação principal */
.nav-bar-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

/* tens da navegação */
.nav-bar-home,
.nav-bar-loja,
.nav-bar-nossa-historia,
.nav-bar-crud {
  font-family: var(--fonte-poppins);
  font-weight: 300;
  font-size: 18px;
  cursor: pointer;
  margin-right: 20px;
  position: relative;
  transition: color 0.3s, transform 0.3s;
}

.nav-bar-home:hover,
.nav-bar-loja:hover,
.nav-bar-nossa-historia:hover,
.nav-bar-crud:hover {
  color: var(--cor-verde);
  transform: scale(1.1);
}

/* Sublinha animada */
.nav-bar-home::after,
.nav-bar-loja::after,
.nav-bar-nossa-historia::after,
.nav-bar-crud::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--cor-verde);
  bottom: -5px;
  left: 0;
  transition: width 0.3s;
}

.nav-bar-home:hover::after,
.nav-bar-loja:hover::after,
.nav-bar-nossa-historia:hover::after,
.nav-bar-crud:hover::after {
  width: 100%;
}

.nav-bar-2 > *:last-child {
  margin-right: 0;
}

/* Ícones da barra de navegação */
.nav-bar-3 {
  display: flex;
  flex-direction: row;
}

.nav-bar-3-usuario,
.nav-bar-3-pesquisar,
.nav-bar-3-carrinho {
  width: 21px;
  height: 21px;
  cursor: pointer;
  transition: transform 0.3s;
  margin-left: 1rem;
}

.nav-bar-3-usuario:hover,
.nav-bar-3-pesquisar:hover,
.nav-bar-3-carrinho:hover {
  transform: scale(1.1);
}

.nav-bar-3 > *:first-child {
  margin-left: 0;
}
/* Estilos para telas maiores que 600px */
@media (max-width: 601px) {
  .navbar-icon {
    display: block;
  }

  .nav-bar-2 {
    display: none;
  }
  .nav-bar-boti {
    display: none;
  }
}
/* SIDEBAR */

/* Sidebar */
#sidebar {
  display: flex;
  flex-direction: column;
  font-family: var(--fonte-poppins);
  font-weight: lighter;
  cursor: pointer;
  width: 200px;
  background-color: var(--cor-branco);
  height: 100%;
  padding: 2rem;
  position: fixed;
  top: 0;
  visibility: hidden;
  transition: 0.5s;
  border-top-right-radius: 3%;
  overflow: hidden; /* Adicionado para cortar o conteúdo que ultrapassa os limites */
}

/* Topo da sidebar */
.sidebar-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
}
.icone-sidebar {
  font-family: var(--fonte-alternativa);
}
/* Ícone de fechar */
#icone-close {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* Links da sidebar */
.sidebar-link {
  text-decoration: none;
  padding-top: 1rem;
  font-family: var(--fonte-poppins);
  font-weight: 300;
}

.sidebar-link:hover {
  color: var(--cor-marrom);
  transform: translateX(5px);
}

/* IMAGEM PRINCIPAL */
.imagem-principal {
  background: url(../assets/img-fundoprincipal-png.png);
  background-color: var(--cor-branco);
  background-size: cover; /* Cobrir toda a área da seção */
  background-position: center; /* Centralizar a imagem */
  background-repeat: no-repeat; /* Não repetir a imagem */
  height: 100vh; /* Altura de 100% da viewport */
  display: flex; /* Usar Flexbox */
  flex-direction: column; /* Organizar o conteúdo em coluna */
  justify-content: center; /* Centralizar verticalmente */
  align-items: center; /* Centralizar horizontalmente */
  text-align: center; /* Centralizar texto */
}

.imagem-principal-titulo {
  font-family: var(--fonte-alternativa);
  font-weight: lighter;
  color: var(--cor-branco);
  font-size: 64px;
}

.imagem-principal-descricao {
  font-family: var(--fonte-poppins);
  color: var(--cor-branco);
  font-size: 18px;
  font-weight: lighter;
  margin-top: 1rem; /* Espaço superior */
}

.imagem-principal-botao {
  text-decoration: none;
  font-family: var(--fonte-poppins);
  height: 3rem;
  width: 14rem;
  background-color: var(--cor-verde);
  color: var(--cor-branco);
  border: none;
  border-radius: 0.6rem;
  padding-right: 0.5rem;
  padding-left: 10px;
  outline: none;
  margin-top: 2rem; /* Espaço superior */
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagem-principal-botao:hover {
  background-color: var(--cor-hover);
}

/* Estilos para telas menores (tablets) */
@media (max-width: 768px) {
  .imagem-principal-titulo {
    font-size: 48px; /* Reduzir o tamanho da fonte */
  }

  .imagem-principal-descricao {
    font-size: 16px; /* Reduzir o tamanho da fonte */
  }

  .imagem-principal-botao {
    height: 2.5rem; /* Reduzir a altura do botão */
    width: 12rem; /* Reduzir a largura do botão */
    font-size: 14px; /* Reduzir o tamanho da fonte no botão */
  }
}

/* Estilos para telas muito pequenas (smartphones) */
@media (max-width: 480px) {
  .imagem-principal-titulo {
    font-size: 36px; /* Reduzir ainda mais o tamanho da fonte */
  }

  .imagem-principal-descricao {
    font-size: 14px; /* Reduzir ainda mais o tamanho da fonte */
  }

  .imagem-principal-botao {
    height: 2rem; /* Reduzir ainda mais a altura do botão */
    width: 10rem; /* Reduzir ainda mais a largura do botão */
    font-size: 12px; /* Reduzir ainda mais o tamanho da fonte no botão */
  }
}

/* TEXTO ELABORADO */
.texto-elaborado {
  background-color: var(--cor-branco);
  height: 80vh;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  text-align: center;
  margin: auto;
  padding-left: 5rem;
  padding-right: 5rem;
  flex-direction: column;
}

.texto-elaborado-titulo {
  font-family: var(--fonte-alternativa);
  font-size: 36px;
  color: var(--cor-marrom);
  font-weight: lighter;
}

.texto-elaborado-2 {
  display: flex;
  flex-direction: row;
  padding-top: 4rem;
  justify-content: space-around; /* Espaça os itens uniformemente */
  flex-wrap: wrap; /* Permite que os itens se movam para a linha seguinte em telas menores */
}

.texto-elaborado-item {
  display: flex;
  align-items: center; /* Alinha verticalmente a imagem e o texto */
  margin: 0 2rem; /* Adiciona espaçamento horizontal entre os itens */
}

.icone-texto-elaborado {
  width: 34px;
  height: 34px;
  margin-right: 10px; /* Espaço entre a imagem e o texto */
}

.texto-elaborado-descricao {
  font-family: var(--fonte-poppins);
  color: var(--cor-marrom);
  font-size: 14px;
  font-weight: 400;
  margin: 0; /* Remove a margem superior e inferior para alinhamento adequado */
}

/* Estilos para telas menores (tablets) */
@media (max-width: 768px) {
  .texto-elaborado {
    padding-left: 2rem; /* Reduzir o padding lateral */
    padding-right: 2rem; /* Reduzir o padding lateral */
  }

  .texto-elaborado-titulo {
    font-size: 28px; /* Reduzir o tamanho da fonte */
  }

  .texto-elaborado-2 {
    padding-top: 2rem; /* Reduzir o padding superior */
    flex-direction: column; /* Mudar para coluna em vez de linha */
    align-items: center; /* Centralizar os itens verticalmente */
  }

  .texto-elaborado-item {
    margin: 1rem 0; /* Adicionar espaçamento vertical entre os itens */
    flex-direction: row; /* Garantir que a direção seja linha */
  }

  .icone-texto-elaborado {
    width: 24px; /* Reduzir o tamanho do ícone */
    height: 24px; /* Reduzir o tamanho do ícone */
  }

  .texto-elaborado-descricao {
    font-size: 12px; /* Reduzir o tamanho da fonte */
  }
}

/* Estilos para telas muito pequenas (smartphones) */
@media (max-width: 480px) {
  .texto-elaborado {
    padding-left: 1rem; /* Reduzir ainda mais o padding lateral */
    padding-right: 1rem; /* Reduzir ainda mais o padding lateral */
  }

  .texto-elaborado-titulo {
    font-size: 24px; /* Reduzir ainda mais o tamanho da fonte */
  }

  .texto-elaborado-2 {
    padding-top: 1rem; /* Reduzir o padding superior */
  }

  .texto-elaborado-item {
    margin: 0.5rem 0; /* Reduzir o espaçamento vertical entre os itens */
  }

  .icone-texto-elaborado {
    width: 20px; /* Reduzir o tamanho do ícone */
    height: 20px; /* Reduzir o tamanho do ícone */
  }

  .texto-elaborado-descricao {
    font-size: 10px; /* Reduzir o tamanho da fonte */
  }
}

/* BANNER SECUNDARIO */
.section-banner-secundario {
  background: url(../assets/img-fundo-png.png);
  background-color: var(--cor-branco);
  background-size: cover; /* Cobrir toda a área da seção */
  background-position: center; /* Centralizar a imagem */
  background-repeat: no-repeat; /* Não repetir a imagem */
  height: 70vh; /* Altura de 70% da viewport */
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centralizar horizontalmente */
  align-items: center; /* Centralizar verticalmente */
  text-align: center; /* Centralizar texto */
  padding: 2rem; /* Adicionar padding para garantir espaçamento */
}

.banner-left {
  margin: auto;
}

.banner-left-titulo {
  font-family: var(--fonte-alternativa);
  font-size: 24px;
  color: var(--cor-branco);
  font-weight: lighter;
  margin-bottom: 1rem; /* Espaço inferior */
}

.banner-left-descricao {
  font-family: var(--fonte-poppins);
  color: var(--cor-branco);
  font-size: 14px;
  font-weight: lighter;
  padding-top: 1rem; /* Espaço superior reduzido */
}

.banner-secundario-botao {
  text-decoration: none;
  font-family: var(--fonte-poppins);
  height: 3rem;
  width: 14rem;
  background-color: var(--cor-verde);
  color: var(--cor-branco);
  border: none;
  border-radius: 0.6rem;
  padding: 0 1rem; /* Ajustar padding */
  margin-top: 1.5rem; /* Espaço superior reduzido */
  cursor: pointer;
}

.banner-secundario-botao:hover {
  background-color: var(--cor-hover);
}

.banner-right-img {
  width: 600px;
  height: 400px;
  padding-right: 2rem;
}

/* Estilos para telas menores (tablets) */
@media (max-width: 768px) {
  .section-banner-secundario {
    flex-direction: column; /* Mudar para coluna em vez de linha */
    height: auto; /* Ajustar altura automaticamente */
    padding: 2rem; /* Adicionar padding para garantir espaçamento */
    text-align: center;
  }

  .banner-left-titulo {
    font-size: 20px; /* Reduzir o tamanho da fonte */
  }

  .banner-left-descricao {
    font-size: 12px; /* Reduzir o tamanho da fonte */
    padding-top: 1rem; /* Reduzir o espaçamento superior */
  }

  .banner-secundario-botao {
    height: 2.5rem; /* Reduzir a altura do botão */
    width: 12rem; /* Reduzir a largura do botão */
    font-size: 14px; /* Reduzir o tamanho da fonte do botão */
  }

  .banner-right-img {
    width: 100%; /* Ajustar para a largura total do contêiner */
    height: auto; /* Ajustar altura proporcionalmente */
    padding-right: 0; /* Remover padding direito */
    margin-top: 1rem; /* Adicionar espaço superior */
  }
}

/* Estilos para telas muito pequenas (smartphones) */
@media (max-width: 480px) {
  .banner-left-titulo {
    font-size: 18px; /* Reduzir ainda mais o tamanho da fonte */
  }

  .banner-left-descricao {
    font-size: 10px; /* Reduzir o tamanho da fonte */
  }

  .banner-secundario-botao {
    height: 2rem; /* Reduzir a altura do botão */
    width: 10rem; /* Reduzir a largura do botão */
    font-size: 12px; /* Reduzir o tamanho da fonte do botão */
  }

  .banner-right-img {
    width: 100%; /* Ajustar para a largura total do contêiner */
    height: auto; /* Ajustar altura proporcionalmente */
    padding-right: 0; /* Remover padding direito */
    margin-top: 1rem; /* Adicionar espaço superior */
  }
}

/* PRODUTOS EM DESTAQUE */

/* Estilos gerais */
.produtos-em-destaque {
  background-color: var(--cor-branco);
  padding: 5rem 7rem;
}

.produtos-em-destaque-titulo {
  font-family: var(--fonte-alternativa);
  font-size: 24px;
  color: var(--cor-marrom);
  font-weight: lighter;
  text-align: center;
  margin-bottom: 2rem;
}

.produtos-em-destaque-lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container-produtos {
  width: 300px;
  background-color: var(--cor-branco);
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: 2rem;
}

.container-produtos:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.container-produtos-top {
  position: relative;
}

.produtos-em-destaque-desconto {
  background-color: var(--cor-amarelo);
  font-family: var(--fonte-poppins);
  color: var(--cor-marrom);
  font-size: 16px;
  font-weight: bolder;
  width: 61px;
  height: 61px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 0 0 1rem 0;
}

.produtos-destaque-favorito {
  width: 20px;
  height: 17px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease-in-out;
}

.produtos-destaque-favorito:hover {
  content: url("../assets/icone-favorito-vermelho.png");
  display: block;
}

.produtos-destaque-img {
  width: 100%;
  height: 285px;
}

.container-produtos-bottom {
  padding: 1rem;
  text-align: center;
}

.container-produtos-titulo {
  font-family: var(--fonte-poppins);
  color: var(--cor-marrom);
  font-size: 16px;
  font-weight: bold;
}

.container-produtos-preco {
  font-family: var(--fonte-poppins);
  color: var(--cor-marrom);
  font-size: 24px;
  font-weight: normal;
}

.container-produtos-preco-anterior {
  font-family: var(--fonte-poppins);
  color: var(--cor-marrom);
  font-size: 16px;
  font-weight: normal;
  text-decoration: line-through;
}

.container-produtos-botao {
  text-decoration: none;
  font-family: var(--fonte-poppins);
  height: 46px;
  width: 198px;
  background-color: var(--cor-verde);
  color: var(--cor-branco);
  border: none;
  border-radius: 0.6rem;
  padding-right: 0.5rem;
  padding-left: 10px;
  outline: none;
  margin-top: 2rem;
  cursor: pointer;
}

.container-produtos-botao:hover {
  background-color: var(--cor-hover);
}

/* Media Queries para tablets e dispositivos móveis */

/* Para telas menores que 768px (tablets) */
@media (max-width: 768px) {
  .produtos-em-destaque {
    padding: 3rem 4rem;
  }

  .produtos-em-destaque-titulo {
    font-size: 20px;
    margin-bottom: 1.5rem;
  }

  .produtos-em-destaque-lista {
    justify-content: center;
  }

  .container-produtos {
    width: 250px;
    margin-top: 1.5rem;
  }

  .produtos-em-destaque-desconto {
    font-size: 14px;
    width: 50px;
    height: 50px;
  }

  .produtos-destaque-img {
    height: 200px;
  }

  .container-produtos-titulo {
    font-size: 14px;
  }

  .container-produtos-preco {
    font-size: 20px;
  }

  .container-produtos-preco-anterior {
    font-size: 14px;
  }

  .container-produtos-botao {
    width: 160px;
    height: 40px;
  }
}

/* Para telas menores que 480px (celulares) */
@media (max-width: 480px) {
  .produtos-em-destaque {
    padding: 2rem 2rem;
  }

  .produtos-em-destaque-titulo {
    font-size: 18px;
    margin-bottom: 1rem;
  }

  .produtos-em-destaque-lista {
    flex-direction: column;
    align-items: center;
  }

  .container-produtos {
    width: 100%;
    max-width: 320px;
    margin-top: 1rem;
  }

  .produtos-em-destaque-desconto {
    font-size: 12px;
    width: 40px;
    height: 40px;
  }

  .produtos-destaque-img {
    height: 180px;
  }

  .container-produtos-titulo {
    font-size: 12px;
  }

  .container-produtos-preco {
    font-size: 18px;
  }

  .container-produtos-preco-anterior {
    font-size: 12px;
  }

  .container-produtos-botao {
    width: 100%;
    height: 35px;
  }
}

/* BANNER TERCIÁRIO */
/* Estilo padrão para telas grandes */
.section-banner-terciario {
  background: url(../assets/img-fundo-png.png);
  background-color: var(--cor-branco);
  background-size: cover; /* Cobrir toda a área da seção */
  background-position: center; /* Centralizar a imagem */
  background-repeat: no-repeat; /* Não repetir a imagem */
  height: 90vh; /* Altura de 90% da viewport */
  display: flex;
  flex-direction: row;
  justify-content: center; /* Centralizar horizontalmente */
  align-items: center; /* Centralizar verticalmente */
  text-align: center; /* Centralizar texto */
}

.titulo-banner-terciario {
  font-family: var(--fonte-alternativa);
  font-size: 48px;
  color: var(--cor-branco);
  padding-bottom: 2rem;
}

.descricao-banner-terciario {
  font-family: var(--fonte-poppins);
  font-size: 18px;
  font-weight: lighter;
  color: var(--cor-branco);
  text-align: center;
}

.banner-terciario-left {
  padding: 3rem;
}

/* Estilos para telas menores (tablets) */
@media (max-width: 768px) {
  .section-banner-terciario {
    flex-direction: column; /* Mudar para coluna em vez de linha */
    height: auto; /* Ajustar altura automaticamente */
    padding: 2rem; /* Adicionar algum preenchimento */
  }

  .titulo-banner-terciario {
    font-size: 36px; /* Reduzir o tamanho da fonte */
    padding-bottom: 1rem; /* Reduzir o espaçamento inferior */
  }

  .descricao-banner-terciario {
    font-size: 16px; /* Reduzir o tamanho da fonte */
  }

  .banner-terciario-left {
    padding: 2rem; /* Reduzir o padding */
  }
}

/* Estilos para telas muito pequenas (smartphones) */
@media (max-width: 480px) {
  .titulo-banner-terciario {
    font-size: 24px; /* Reduzir ainda mais o tamanho da fonte */
    padding-bottom: 0.5rem; /* Ajustar o espaçamento inferior */
  }

  .descricao-banner-terciario {
    font-size: 14px; /* Reduzir o tamanho da fonte */
  }

  .banner-terciario-left {
    padding: 1rem; /* Reduzir o padding */
  }
}

/* Estilos gerais */
.boletim-informativo {
  display: flex;
  flex-direction: column;
}

.boletim-informativo-titulo {
  font-family: var(--fonte-alternativa);
  font-size: 48px;
  font-weight: lighter;
  text-align: center;
  margin-top: 5rem;
}

#subscribeForm {
  max-width: 500px;
  margin: 0 auto;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #f9f9f9;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 6rem;
}

#subscribeForm input[type="email"] {
  flex: 1;
  padding: 0.5em;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#subscribeForm button {
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  background-color: var(--cor-verde);
  color: white;
  cursor: pointer;
}

#subscribeForm button:hover {
  background-color: var(--cor-marrom);
}

/* Media Queries para telas menores */

@media (max-width: 768px) {
  .boletim-informativo-titulo {
    font-size: 36px;
    margin-top: 3rem;
  }

  #subscribeForm {
    flex-direction: column;
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  #subscribeForm input[type="email"] {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .boletim-informativo-titulo {
    font-size: 28px;
    margin-top: 2rem;
  }

  #subscribeForm {
    padding: 0.5em;
    width: 100%;
  }

  #subscribeForm input[type="email"] {
    width: 100%;
    margin-right: 0;
  }

  #subscribeForm button {
    width: 100%;
    padding: 0.75em;
  }
}

/* COMPRE POR CATEGORIA */
/* Estilo base para o elemento */
.compre-por-categorias {
  display: flex;
  flex-direction: column;
  padding-bottom: 7rem;
}

.categorias-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 6rem;
  padding-top: 6rem;
}

.categorias-top-titulo {
  font-family: var(--fonte-alternativa);
  font-size: 34px;
}

.categorias-top-veja-tudo {
  font-family: var(--fonte-poppins);
  cursor: pointer;
  transition: transform 0.3s ease;
}
.categorias-top-veja-tudo:hover {
  transform: scale(1.1);
  text-decoration: underline;
}

.categorias-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}
.categorias-bottom-item {
  transition: transform 0.3s ease;
  cursor: pointer;
}

/* Efeito de zoom ao passar o mouse */
.categorias-bottom-item:hover {
  transform: scale(1.1); /* Aumenta o tamanho do elemento em 10% */
}
.categorias-bottom-item-img {
  width: 210px;
  height: 280px;
}
.categorias-bottom-item-titulo {
  font-family: var(--fonte-poppins);
}

/* FOOTER */

footer {
  background: url(../assets/img-fundo-png.png);
  background-color: var(--cor-branco);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 2rem;
  color: var(--cor-branco);
}

.footer-1-titulo,
.footer-2-titulo,
.footer-3-titulo {
  font-family: var(--fonte-alternativa);
  font-weight: 300;
  font-size: 24px;
  padding-bottom: 2rem;
}

.footer-1-descricao,
.footer-2-descricao,
.footer-3-descricao {
  font-family: var(--fonte-poppins);
  font-weight: 300;
  transition: transform 0.3s ease;
}

.footer-1-descricao:hover,
.footer-2-descricao:hover,
.footer-3-descricao:hover {
  transform: scale(1.1);
  text-decoration: underline;
  cursor: pointer;
}

.footer-1-direitos {
  font-family: var(--fonte-poppins);
  font-weight: 300;
  padding-top: 4rem;
}

/* CRUD */

.produtos-api {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 4rem;
}
.crud-titulo {
  font-family: var(--fonte-alternativa);
  font-size: 36px;
  color: var(--cor-marrom);
  font-weight: bold;
  text-align: center;
  margin-top: 4rem;
}
.crud-botao {
  text-decoration: none;
  font-family: var(--fonte-poppins);
  height: 46px;
  width: 198px;
  background-color: var(--cor-verde);
  color: var(--cor-branco);
  border: none;
  border-radius: 0.6rem;
  padding-right: 0.5rem;
  padding-left: 10px;
  outline: none;
  margin-top: 1rem;
  cursor: pointer;
}

.crud-botao:hover {
  background-color: var(--cor-hover);
}

.crud {
  font-family: var(--fonte-poppins);
  margin-bottom: 5rem;
}
